.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
  border-radius: 3px;
}

.pokemon-image-container {
  padding: 0px 5px;
}

.pokemon-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.heart{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.normal{
  background-image: url("../assets/images/normal.jpg");
}

.fighting{
  background-image: url("../assets/images/fighting.jpg");
}

.water{
  background-image: url("../assets/images/water.jpg");
}

.fire{
  background-image: url("../assets/images/fire.jpg");
}

.grass{
  background-image: url("../assets/images/grass.jpg");
}

.ghost{
  background-image: url("../assets/images/ghost.jpg");
}

.bug{
  background-image: url("../assets/images/bug.jpg");
}

.ground{
  background-image: url("../assets/images/ground.jpg");
}

.rock{
  background-image: url("../assets/images/rock.jpg");
}

.electric{
  background-image: url("../assets/images/eletric.jpg");
}

.steel{
  background-image: url("../assets/images/steel.jpg");
}


.fairy{
  background-image: url("../assets/images/fairy.jpg");
}

.ice{
  background-image: url("../assets/images/ice.jpg");
}

.psychic{
  background-image: url("../assets/images/psychic.jpg");
}

.dragon{
  background-image: url("../assets/images/dragon.jpg");
}

.poison{
  background-image: url("../assets/images/poison.jpg");
}

.dark{
  background-image: url("../assets/images/dark.jpg");
}

.flying{
  background-image: url("../assets/images/flying.jpg");
}






