body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.not-found {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}

.app-bg{
    background:url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
}